body {
    background: #111;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.titulo {
    color: white;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#display {
    width: 100%;
    height: 60px;
    background: #000;
    color: #0f0;
    font-size: 32px;
    text-align: right;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background: #333;
    color: white;
    border: none;
    padding: 18px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.1s;
}

.btn:hover {
    background: #444;
}

.operator {
      background: #ff9500;
}

.operator:hover {
     background: #ffa733;
}

.equal {
     background: #28a745;
}

.equal:hover {
     background: #34c759;
}

.zero {
    grid-column: span 2;
}
